<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spingboot.express.mapper.OrderMapper">
<resultMap id="BaseResultMap" type="spingboot.express.pojo.OrderInfo">
    <id column="id" jdbcType="INTEGER" property="ID"/>
    <result column="tel" jdbcType="VARCHAR" property="tel"/>
    <result column="ship_address" jdbcType="VARCHAR" property="shipAddress"/>
    <result column="send_address" jdbcType="VARCHAR" property="sendAddress"/>
    <result column="money" jdbcType="VARCHAR" property="money"/>
    <result column="sex" jdbcType="VARCHAR" property="sex"/>
    <result column="size" jdbcType="VARCHAR" property="size"/>
    <result column="note" jdbcType="VARCHAR" property="note"/>
    <result column="dead_line" jdbcType="TIMESTAMP" property="deadLine"/>
    <result column="receiver_id" jdbcType="INTEGER" property="receiverID"/>
    <result column="sender_id" jdbcType="INTEGER" property="senderID"/>
    <result column="receive_tel" jdbcType="VARCHAR" property="receiveTel"/>
    <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="is_valid" jdbcType="VARCHAR" property="isValid"/>
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
</resultMap>
    <sql id="Base_Order_Info">
       id,tel,ship_address,send_address,money,sex,size,note,dead_line,receiver_id,sender_id,
       receive_tel,order_status,create_time,is_valid,receive_time
    </sql>

    <!--发单人发送快递信息-->
    <!--  允许JDBC自动生成主键，并返回  -->
    <insert id="addInfo" parameterType="spingboot.express.pojo.OrderInfo" keyProperty="ID" useGeneratedKeys="true">
        insert into orderInfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="tel != null">
                  tel,
              </if>
              <if test="shipAddress != null">
                  ship_address,
              </if>
              <if test="sendAddress != null">
                  send_address,
              </if>
              <if test="money != null">
                  money,
              </if>
              <if test="sex != null">
                  sex,
              </if>
              <if test="size != null">
                  size,
              </if>
              <if test="note != null">
                  note,
              </if>
              <if test="deadLine != null">
                  dead_line,
              </if>
              <if test="senderID != null">
                  sender_id,
              </if>
              <if test="createTime == null">
                  create_time,
              </if>
              <if test="receiveTel != null">
                  receive_tel,
              </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="shipAddress != null">
                #{shipAddress,jdbcType=VARCHAR},
            </if>
            <if test="sendAddress != null">
                #{sendAddress,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="deadLine != null">
                #{deadLine,jdbcType=TIMESTAMP},
            </if>
            <if test="senderID != null">
                #{senderID,jdbcType=INTEGER},
            </if>
            <if test="createTime == null">
                now(),
            </if>
            <if test="receiveTel != null">
                #{receiveTel,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--接单人编辑订单-->
    <update id="geterEditInfo" parameterType="spingboot.express.pojo.OrderInfo">
        update orderInfo set receiver_telephone = #{receiver_telephone} where id = #{id}
    </update>

    <update id="senderEditInfo" parameterType="spingboot.express.pojo.OrderInfo">
        update orderInfo set telephone = #{telephone} where id = #{id}
    </update>
    <!--查询单个订单详细信息-->
    <select id="querySingleInfoOrder" parameterType="spingboot.express.pojo.OrderInfo" resultType="spingboot.express.pojo.OrderInfo">
        select  * from info where id = #{id}
    </select>
    <!--查询所有信息-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        id,dead_line
        from orderInfo
    </select>

     <!--查询所有有效信息-->
    <select id="findAllValid" resultMap="BaseResultMap">
        select
        <include refid="Base_Order_Info"/>
        from orderInfo
        where
        is_valid = 1
    </select>
<!--查询所有发单信息-->
    <select id="findsendInfo" parameterType="spingboot.express.pojo.OrderInfo" resultType="spingboot.express.pojo.OrderInfo">
        select * from orderInfo where sendUserID = #{sendUserID}
    </select>
<!--查询所有接单信息-->
    <select id="findgetInfo" parameterType="spingboot.express.pojo.OrderInfo" resultType="spingboot.express.pojo.OrderInfo">
        select * from orderInfo where receiver_telephone = #{receiver_telephone}
    </select>
<!--删除订单主人信息-->
    <delete id="deletesenderInfo" parameterType="spingboot.express.pojo.OrderInfo">
        delete sendUserID from orderInfo where id = #{id} and id >20
    </delete>
    <!--订单过期，置为无效-->
    <update id="updateOrderStatusById" parameterType="int">
      update
      orderInfo
      set
      is_valid = 0
      where
      id = #{id}
    </update>
<!--使新插入数据库的数据从最大数字+1开始-->
    <update id="alterinfo" parameterType="int">
        alter table orderInfo auto_increment = #{i}
    </update>
<!--删除数据后，使id连续-->
    <update id="update" parameterType="spingboot.express.pojo.OrderInfo">
        update orderInfo set id = id-1 where id > #{id}

    </update>
<!--查询一条信息-->
    <select id="checkInfo" parameterType="int" resultType="spingboot.express.pojo.OrderInfo">
        select * from orderInfo where id=#{id}
    </select>
<!--删除接单用户信息-->
    <update id="deletereceiverInfo" parameterType="spingboot.express.pojo.OrderInfo">
        update orderInfo set receiverID = null,receiver_telephone = null where id = #{id}
    </update>
    <!--接单人接单,在信息中插入接单人信息-->
    <insert id="order" parameterType="spingboot.express.pojo.OrderInfo">
        insert into orderInfo(receiverID,receiver_telephone,orderStatusID,receivetime) values (#{receiverID},#{receiver_telephone},#{orderStatusID},now()) where id = #{id}
    </insert>

    <!--改变订单状态-->
    <update id="changeInfostatus" parameterType="spingboot.express.pojo.OrderInfo">
        update orderInfo set orderStatusID = #{orderStatusID} where id = #{id}
    </update>
<!--改变订单的有效性-->
    <update id="isValid" parameterType="int" keyProperty="ID">
        update orderInfo set is_valid = 0 where id = #{ID}
    </update>
</mapper>